@layout LoginLayout
@inherits LayoutComponentBase

<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-8" style="border-right:groove">
                <img src="https://goodlawsoftware.co.uk/wp-content/uploads/2022/05/UK-consumer-1024x333.png" width="700" height="400" />
            </div>
            <div class="col-4" style="border-left:thick">
                @Body
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>